<div class="container">
    <div class="row">
        <div class="card card-container">
            <h1 class="text-center login-title">Login to Fit-It</h1>
            <br> <img id="profile-img" class="profile-img-card"
                src="resources/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span> <input
                    type="email" id="inputEmail" class="form-control"
                    placeholder="Email address" required autofocus> <input
                    type="password" id="inputPassword" class="form-control"
                    placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label> <input type="checkbox" value="remember-me">
                        Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin"
                    type="submit">Sign in</button>
            </form>
            <a href="#" class="forgot-password"> Forgot the password? </a>
        </div>
        <a href="#" class="text-center new-account">Create an account </a>
    </div>
</div>